@model WebFizjoTerm.Models.Visit

@{
    ViewBag.Title = "Delete";
}

    <h2>Usuń</h2>

    <h3>Czy na pewno usunąć?</h3>
<div>
    <h4>Visit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSaved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSaved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitSettled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitSettled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Physiotherapist.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Physiotherapist.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referral.Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referral.Diagnosis)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
